<h1>Tienda Online</h1>

<div class="cardsContainer">
    {{#each products}}
    <div class="card">
        <h5> {{this.title}} </h5>
        <p> {{this.description}} </p>
        <p> {{this.price}} </p>
    </div>
    {{/each}}
</div>