<h1>Real Time Products</h1>

<div id="productsContainer"></div>

{{!-- Agregar productos --}}
<form>
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="title" placeholder="Titulo">
</form>


<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>