<h1>Shopping Cart</h1>

<div class="cardsContainer">
    {{#each products}}
    <div class="card">
        <p> Producto: {{this.product.title}} </p>
        <p> Cantidad: {{this.quantity}} </p>
    </div>
    {{/each}}
</div>